langchain-core
langgraph
langchain_community
markdown
unidecode
scrapy
markdownify
faiss-cpu
pymupdf
requests
markdownify
beautifulsoup4
typing_extensions
duckduckgo_search
IPython
lxml_html_clean
lxml
tiktoken
httpx
ipython
